<div class="container">
    <div class="row vh-100">
        <div class="col-md-12">
            <h3 class="text-center text-success">Calpine meet</h3>
            <div class="container">
                <div class="row mt-5">
                    <div class="col-md-6 video-card">
                        <div class="row">
                            <div class="col-6 text-center d-flex flex-column align-items-center">
                                <mat-icon class="video-icon" (click)="newMeeting()">videocam</mat-icon>
                                <p class="">New Meeting</p>
                            </div>
                            <div class="col-6 text-center d-flex flex-column align-items-center">
                                <mat-icon class="play-icon">add_circle</mat-icon>
                                <p>Join</p>
                            </div>
                        </div>
                        <div class="row bottom-row">
                            <div class="col-6 text-center d-flex flex-column align-items-center">
                                <mat-icon class="play-icon">calendar_today</mat-icon>
                                <p>Calendar</p>
                            </div>
                            <div class="col-6 text-center d-flex flex-column align-items-center">
                                <mat-icon class="play-icon">screen_share</mat-icon>
                                <p>Screen Share</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
        </div>
    </div>
</div>