<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
      <div class="col-md-6">
        <div class="login-container">
          <h4 class="login-heading pb-3">Register here</h4>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <!-- Name input -->
            <div class="form-outline mb-4">
              <label class="form-label left-label" >Name</label>
              <input type="email" class="form-control" formControlName="username" />
            </div>
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label left-label" >Email address</label>
              <input type="email" class="form-control" formControlName="email" />
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-4">
              <label class="form-label left-label">Password</label>
              <input type="password" class="form-control" formControlName="password" />
            </div>
  
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
  
            <!-- Register buttons -->
            <div class="text-center">
              <p>Already a member? <label class="new-account" (click)="onClickLogin()">Login</label></p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>